.CourseEnrolled {
    display: flex;
    width: 100%;
    background-color: #fff;
    min-height: calc(100vh - 78px);
}
.CourseContainer {
    width: 100%;
}

.backBtn {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 10px;
    cursor: pointer;
    color: #989898;
}

.backBtn > div {
    margin: 0 4px;
}
.backBtn svg {
    vertical-align: middle;
}

.backBtn:active {
    color: #000;
}

.line {
    height: 1px;
    width: 100%;
    border-bottom: 1px solid #E4E4E4;
}

.abc {
    display: flex;
}

.CourseHeader {
    display: flex;
    width: calc(100% - 50px);
    padding: 20px;
    justify-content: space-between;
}

.CourseHeader > img {
    width: 68%;
    height: 212px;
    border-radius: 10px; 
}

.CourseDetails {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    padding: 20px;
}

.UnitContainer {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.CourseTime {
    margin-right: 10px;
}