.Portfolio {
    min-height: calc(100vh - 78px);
    background-color: #fff;
    width: 100%;
    display: flex;
}

.PortfolioContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.HeaderContainer {
    width: 55%;
    display: flex;
}

.HeaderContainer h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.5px;
    color: #121843;
}

.TwoInputs {
    display: flex;
    width: 100% !important;
}

.TwoInputs, .OneInput{
    margin-top: 15px;
}

.DialogTwoInputs, .DialogOneInput {
    margin-top: 24px;
}

.TwoInputs div, .TwoInputs input {
    width: 340px !important;
}

.TwoInputs div:first-child  {
    margin-right: 40px;
}

.OneInput, .OneInput div {
    width: 720px;
}

.TwoInputs input::placeholder, .OneInput input::placeholder, .DialogTwoInputs input::placeholder{
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 22px !important;
    letter-spacing: 1px !important;
}

.DialogTwoInputs, .DialogOneInput {
    display: flex;
    width: 600px !important;
    justify-content: space-around;
}

.DialogTwoInputs div, .DialogTwoInputs input, .DialogOneInput div, .DialogOneInput input  {
    /* width: 240px !important; */
    margin: 0 auto !important;
}

.DialogOneInputSmall > div {
    margin: 0 !important;
    margin-left: 6.5% !important;
}

.DialogOneInputSmall input {
    margin: 0 !important;
}

.OneInput input {
    width: 720px !important;
}

.TwoInputs p, .OneInput p {
    color: #262C5B;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
}

.EducationInput {
}

.AddBtn {
    margin: 10px 0 !important;
    background: #262C5B !important;
    border: 1px solid #262C5B !important;
    box-sizing: border-box !important;
    border-radius: 4px !important;
    color: #fff !important;
    width: 100% !important;
}

.DialogContainer {
    width: 600px;
    padding: 20px;
    margin: 0 auto !important;
}

.RadioContainer {
    display: flex !important;
    flex-direction: column !important;
    margin-left: 6.5% !important;
    margin-top: 24px !important;
}

.SaveBtn {
    margin-top: 30px !important;
    width: 176px !important;
    height: 52px !important;
    background: linear-gradient(259.04deg, #F53939 4.27%, #FF6F1E 23.72%, #FFC939 99.98%) !important;
    border-radius: 100px !important;
    color: #000 !important;
    font-weight: 700 !important;
}

.SaveBtnSmall {
    margin-top: 30px !important;
    width: 89px !important;
    height: 40px !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    margin-left: 6.5% !important;
}